* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-image: url(../img/bkg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    padding:  env(safe-area-inset-top);
}
.container {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 720px;
    padding: 5px;
    padding-bottom: 50px;
}
#imagem {
    background-image: url(../img/mario-01.png );
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#palavra-forca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.letras {
    width: 25px;
    text-align: center;
    border-bottom: 3px solid  rgb(30, 65, 66);
    color: white;
    margin: 5px;
    font-size: 1.6rem;
}

#teclado{
    width: 100%;
    height: 20%;
    max-height: 200px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.4rem;
}

button{
    cursor: pointer;
    box-shadow: 0 2px 4px dimgray;
    border-radius: 8%;
    border: none;
    color: rgb(30, 65, 66);
    font-weight: 700;
    grid-column: span 3;
    font-size: 1.2rem;
}
button:hover {
    transform: scale(1.1);
    background-color: gainsboro;
}
button:disabled{
    cursor: default;
    transform: none;
    background-color: rgb(239, 239, 239);
}
#tecla-A {
    grid-column: 2 / span 3;
}
#tecla-Z {
    grid-column: 3 / span 3;
}
#tecla-reload {
    grid-column: 25 / span 4;
}
#dica {
    margin-top: 30px;
    color: rgb(30, 65, 66);
    font-size: 1.2rem;
    font-weight: 600;
}
@media screen and (min-width: 321px){
    .teclas button{
        width: 25px;
        height: 25px;
    } 
    #dica { 
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 376px){
    .teclas button{
        width: 30px;
        height: 30px;
        font-size: 1.1rem;
    } 
    #palavra-forca{
        font-size: 1.3rem;
    }
    .letras {
        width: 18px;
    }
    #dica {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 426px){
    .teclas button{
        width: 36px;
        height: 36px;
        font-size: 1.2rem;
    } 
    #palavra-forca{
        font-size: 1.5rem;
    }
    .letras {
        width: 20px;
    }
    #dica {
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 769px){
    .teclas button{
        width: 68px;
        height: 68px;
        font-size: 2rem;
    } 
    #palavra-forca{
        font-size: 2.5rem;
    }
    .letras {
        width: 35px;
    }
    #dica {
        font-size: 1.6rem;
    }
}
